### Pequeno projeto de webscraping da wikipedia, e export dos dados para DataFrame usando pandas

In [2]:
#import das bibliotecas, dentre elas BeautifulSoup, para lidar com o html, requests, para obter o html, e pandas, para conversão das infos a um DataFrame
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [3]:
url = "https://en.wikipedia.org/wiki/World_population"

In [4]:
dados  = requests.get(url).text

In [5]:
soup = BeautifulSoup(dados,"html5lib")

In [6]:
tables = soup.find_all('table')     #Encontrar as tabelas, em html

In [8]:
len(tables)           #Foram encontradas 26 tabelas

26

In [9]:
#Iremos focar em encontrar os 10 países mais densamente populados

for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

In [11]:
population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, 
                                                  "Country":country, 
                                                  "Population":population, 
                                                  "Area":area, 
                                                  "Density":density}, 
                                                 ignore_index=True)

population_data

  Rank       Country     Population       Area Density
0    1     Singapore      5,704,000        710   8,033
1    2    Bangladesh    171,260,000    143,998   1,189
2    3       Lebanon      6,856,000     10,452     656
3    4        Taiwan     23,604,000     36,193     652
4    5   South Korea     51,781,000     99,538     520
5    6        Rwanda     12,374,000     26,338     470
6    7         Haiti     11,578,000     27,065     428
7    8   Netherlands     17,630,000     41,526     425
8    9        Israel      9,390,000     22,072     426
9   10         India  1,381,230,000  3,287,240     420